@model IEnumerable<WebMusicShop.Models.Entities.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>@ViewData["Title"]</h1>

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["MensagemSucesso"]
        <button class="btn btn-close float-end"></button>
    </div>
}
@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["MensagemErro"]
         <button class="btn btn-close float-end"></button>
    </div>
}

<p>
    <a class="btn btn-success" asp-action="CadastrarCliente">Cadastrar um Novo Cliente</a>
</p>

<table class="table table-hover ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "AtualizaCliente", new { id = item.Id },new{ @class = "btn btn-primary"})
                @Html.ActionLink("Detalhes", "BuscaCliente", new { id = item.Id },new{ @class = "btn btn-success"})
                @Html.ActionLink("Deletar", "DeletarCliente", new { id = item.Id },new{ @class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
