@model IEnumerable<WebMusicShop.Models.Entities.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-action="CadastrarCliente">Cadastrar um Novo Cliente</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Edit", new { id = item.Id },new{ @class = "btn btn-primary"})
                @Html.ActionLink("Detalhes", "BuscaCliente", new { id = item.Id },new{ @class = "btn btn-success"})
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id },new{ @class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
