@model IEnumerable<WebMusicShop.Models.Entities.Produto>

@{
    ViewData["Title"] = "ListarProdutos";
}

<h1>Lista de Produtos</h1>

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["MensagemSucesso"]
        <button class="btn btn-close float-end"></button>
    </div>
}

@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["MensagemErro"]
         <button class="btn btn-close float-end"></button>
    </div>
}

<p>
    <a class="btn btn-success" asp-action="CadastraProduto">Cadastrar um novo produto</a>
</p>
<table class="table table-hover" id="table-produtos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEstoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdEstoque)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "AtualizaProduto", new { id = item.Id }, new {@class = "btn btn-primary"}) 
                @Html.ActionLink("Detalhes", "BuscaProduto", new { id = item.Id }, new {@class = "btn btn-success"}) 
                @Html.ActionLink("Deletar", "DeletaProduto", new { id = item.Id }, new {@class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
